.pic1 {
  border: solid black;
  position: center;
  width: 100%;
  height: 400px;
}

.head {
	font-family: 'Georgia';
  text-align: center;
  display: grid;
  background-color: #E0F2F7;
  width: 100%;
  font-size: 1.5em;
}

.para1 .para3 .para5 {
  font-family: 'Georgia';
  display: grid;
  background-color: white;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.para2 .para4 {
  font-family: 'Georgia';
  display: grid;
  background-color: #E0F2F7;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.pic2 .pic3 .pic4 .pic5{
  position: relative;
  width: 100%;
}

.padding {
  padding: 20px;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}
